.schedules-index
  %h3 Your Alerts
  .schedule{ ng_repeat: "schedule in currentUser.schedules" }
    %span.type.glyphicon.glyphicon-bell
    %span
      If BTC goes
    %span.comparison
      {{ schedule.comparison == ">" ? "above" : "below" }}
    %span.price
      {{ "$" + schedule.price }}
    %button.btn.btn-xs.enable{ ng_hide: "schedule.enabled", ng_click: "enableSchedule(schedule)" }
      enable
    %button.btn.btn-xs.disable{ ng_show: "schedule.enabled", ng_click: "disableSchedule(schedule)" }
      disable
