.schedules-index
  %h3 Your Alerts
  %table.schedule{ ng_repeat: "schedule in currentUser.schedules" }
    %tr
      %td.symbol
        .glyphicon.glyphicon-bell{ ng_if: "schedule.schedule_type == 'notify'" }
        .glyphicon{ ng_if: "schedule.schedule_type == 'buy' "} buy
        .glyphicon{ ng_if: "schedule.schedule_type == 'sell' "} sell
      %td.schedule-type
        if BTC goes
        {{ schedule.comparison == ">" ? "above" : "below" }}
        {{ "$" + schedule.price }}
      %td.enabled
        %button.btn.btn-xs.disabled{ ng_hide: "schedule.enabled", ng_click: "enableSchedule(schedule)" }
          disabled
        %button.btn.btn-xs.btn-primary.enabled{ ng_show: "schedule.enabled", ng_click: "disableSchedule(schedule)" }
          enabled
