.footer
  built with love by
  %a{ ng_href: "https://twitter.com/_bsiddiqui", target: "_blank" }
    @_bsiddiqui
  and
  %a{ ng_href: "https://twitter.com/MrMattNguyen", target: "_blank" }
    @MrMattNguyen

