.navbar.navbar-static-top
  .navbar-inner
    .container
      .navbar-brand
        Coinapp Logo
      %ul.nav.navbar-nav.pull-right
        %li
          %a{ ng_show: "currentUser", ng_click: "logout()" } Logout
